<main>
    <form action="/login" method="post">
        <div class="mt-5">
        <h3 class="text-primary">Login</h3>
        <div class="mb-4">
            <label for="floatingInput" class="text-white-50">AdminUserName</label>
                <input type="text" class="form-control w-full" name="AdminUsername">
        </div>
        <div class="mb-4">
            <label for="floatingPassword" class="text-white-50">Password</label>
            <input type="password" class="form-control w-full" name="AdminPassword">
        </div>
        <button class="w-50 border border-primary border-2 rounded-2 text-decoration-none text-center bg-dark text-primary fw-bold p-2" type="submit" href="/">Log in</button>
        </div>
    </form>
</main>