@model UserDataModel

<h2>User Deposit</h2>

<div class="form-group">
    <label for="CardNumber">Card Number:</label>
    <input type="text" name="CardNumber" id="cardNumber" class="form-control" required />
</div>

<div class="form-group">
    <label for="Password">Password:</label>
    <input type="password" name="Password" id="password" class="form-control" required />
</div>

<div class="form-group">
    <label for="Balance">Deposit Amount:</label>
    <input type="number" name="Balance" id="balance" class="form-control" required />
</div>
<a href="/home/Index" type="button" class="btn btn-warning">Cancel</a>
<button type="submit" class="btn btn-primary btnDeposit">Deposit</button>

@section scripts
{
    <script>
        $('.btnDeposit').click(function (e) {
            e.preventDefault();

            var _reqModel = {
                CardNumber: $('#cardNumber').val(),
                Password: $('#password').val(),
                Balance: $('#balance').val(),
            };

            confirmMessage("Do you want to deposit?").then((result) => {
                if (!result) return;
                $.ajax({
                    url: '/user/userDeposit',
                    type: 'POST',
                    data: {
                        reqModel: _reqModel
                    },
                    success: function (data) {
                        showMessage(data, "/home/Index");
                    },
                    error: function (request, status, error) {
                        console.log({ request, status, error });
                    }
                });
            })
        })
    </script>
}